.DS_Store
__MACOSX/
*.pyc
.idea/
__pycache__/
tmp/
ckpts/
*.pt
.ipynb_checkpoints
log/
.vscode/
old_out_files/
*.out
test.py
*.env
wandb/
venv/*
.gitignore
*.pkl
filtered_json_files/
captions*.json
vatex_dataset_chen/